body {
    background-color: #ECEFF1;
}

#main-title {
    color: #455A64;
    text-align: center;
}

.form-section-title {
    font-size: 1.5rem;
    color: #546E7A;
}

.card {
    max-width: 1100px;
    margin-bottom: 2rem;
}